.drop_area {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px #dcdcdc dashed;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  height: 100px;
}

.drop_hide {
  border: 1px #dcdcdc dashed;
  border-radius: 5px;
  opacity: 0;
  height: 1px;
}
