.drop_area {
  padding: var(--sp-sm);
  margin: var(--sp-sm);
  border-radius: var(--radius-md);
  border: 1px dashed var(--c-border);
  opacity: 1;
  transition: all 0.2s ease-in-out;
  height: 100px;
}

.drop_hide {
  border: 1px dashed var(--c-border);
  border-radius: var(--radius-md);
  opacity: 0;
}
