.set-form {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin: 10px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-input {
    width: -webkit-fill-available;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: 5px 0;
}

.form-input:focus {
    border-color: #007bff;
    outline: none;
}

.form-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-button:hover {
    background-color: #0056b3;
}

.d-flex{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.local, .visitante{
    margin: 10px;
}
.local select, .visitante select {
    width: 100%; /* Asegura que el select ocupe toda la anchura del contenedor */
}

